@mixin flex-layout {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-horizontal {
	@include flex-layout;
}
.flex-vertical {
	@include flex-layout;
	flex-direction: column;
}

// under sectionDiv, keep sectionName to left and sticky
.sectionDiv {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f9f9f9;
	box-shadow: 0 0.5px 15px orange;
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin: 1rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	// align children top to bottom
	align-items: flex-start;
}
.sectionName {
	font-size: 1.5rem;
	font-weight: bold;
	margin-right: 5rem;
	color: blue;
	width: fit-content;

	// make it stick to top as long as div is visible
	position: sticky;
	top: 5rem;
}

.icon-large {
	font-size: 2rem;
	margin-right: 0.5rem;
}
.logo {
	width: 2rem;
	height: 2rem;
	margin-right: 0.5rem;
	margin-top: 0.1rem;
}

.mainContainer {
	transition: 1s;
	background: radial-gradient(
		circle,
		rgba(253, 255, 162, 1) 0%,
		rgba(229, 255, 204, 1) 67%
	);
	height: 100%;
    min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
}
#navbar {
	/* align items to left, middle and right */
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	width: 97vw;
	margin-top: 1rem;

	// always display navbar on top of page
	position: sticky;
	z-index: 1;
	background: #f9f9f9;
	box-shadow: 0 0.5px 15px orange;
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
#name {
	font-size: 2rem;
	font-weight: bold;
	margin-left: 1rem;
	color: rgb(255, 102, 0);
}

.navbar-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 1rem;
	// hide underline of link
	a {
		margin-left: 1rem;
		text-decoration: none;
		color: purple;
		&:hover {
			color: orange;
			transition: 0.5s;
		}
	}
}

.project-card {
	h2 {
		display: inline;
	}
}

.skills-container-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	margin: 1rem;
}

.darkModeToggle {
	margin-right: 1rem;
	margin-left: 1rem;
	width: fit-content;
	box-shadow: 0 0.5px 15px orange;
	border-radius: 50%;
	padding: 0.6rem;
	cursor: pointer;
}

.darkmode {
	transition: 1s;
	background: radial-gradient(
		circle,
		rgba(30, 30, 30, 1) 0%,
		rgba(60, 60, 60, 1) 67%
	);
	color: white;
	.darkModeToggle {
		color: white;
		&:hover {
			background: slategrey;
		}
	}
	.navbar-links {
		a {
			color: violet;
		}
	}
	.sectionDiv {
		background: #333;
		color: white;
	}
	.sectionName {
		color: white;
	}
}

/* hand waving animation */
/* https://codepen.io/jakejarvis/pen/pBZWZw */
.waving-item, .wave-on-hover:hover {
    animation-name: wave-animation;
    animation-duration: 2.5s;
	animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
	margin-right: 0.5rem;
}
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}